{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "prettier"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "@typescript-eslint/no-explicit-any": "off",
    "prettier/prettier": ["error", {
      "singleQuote": true,
      "jsxSingleQuote": true,
      "trailingComma": "all", // allowed in typescript, but not es5
      "jsxBracketSameLine": true,
      "bracketSpacing": false,
      "printWidth" : 120
    }]
  }
}